-r requirements-common.in

psycopg2-binary  # In dev, use the package with binary wheels, so it's easier to install
selenium
nplusone
mockredispy
requests_mock
django-debug-toolbar
freezegun==1.4.0
tblib
vcrpy==6.0.1
pip-tools
mypy==1.9.0
django-stubs==4.2.7
types-python-dateutil
types-requests
ipython
polib==1.2.0
types-polib
types-redis
types-freezegun
types-protobuf
unittest-xml-reporting
faker
boto3-stubs==1.34.71